#slider-l H1 {
  font-size: 100px;
}
#slider-l P {
  font-size: 23px;
}
#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content1-4 P {
  color: #777777;
  text-align: center;
  font-size: 24px;
}
#contacts3-m P {
  text-align: left;
  font-size: 15px;
}
#slider-n H1 {
  font-size: 100px;
}
#slider-n P {
  font-size: 23px;
}
#ext_menu-a .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-a.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-a .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-a .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box3-h .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-h .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-h .btn {
  font-size: 32px;
}
#contacts3-m P {
  text-align: left;
  font-size: 15px;
}
